.gallery {
    background-color: #363C43;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}
.navSide {
    display: grid;
    width: fit-content;
    padding: 5px;
}
#qmark:hover{
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 10px 10px 36px 20px black;
}
#dot:hover{
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 10px 10px 36px 20px black;
}

.nav-body{
    margin: 10px;
}

.navTop {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}
#galButton {
    background-color: #171717;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
#galButton:hover{
    cursor : pointer;
    box-shadow: 10px 10px 36px 20px #6F787C;
}
#buttonCombine {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
#add {
    background-color: #6F787C;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    padding: 7px;
}
#add:hover{
    cursor: pointer;
    box-shadow: 10px 10px 36px 20px black;
}
#prevButton{
    background-color: #262A2F;
    padding: 10px;
    margin-right: 20px;
    border-radius: 100%;
}
#prevButton:hover{
    box-shadow: 10px 10px 36px 20px black;
    cursor: pointer;
}
#nextButton {
    background-color: #262A2F;
    padding: 10px;
    border-radius: 100%;
}
#nextButton:hover{
    box-shadow: 10px 10px 36px 20px black;
    cursor : pointer;
}
.photos {
    width: 40vw;
    height: 30vh; /* Set a fixed height */
    margin: 5px;
    padding: 10px;
    overflow-y: auto;
}
.photos img{
    width: 175px;
    height: 175px;
    margin: 5px;
    border-radius : 10px
}

#GalImage:hover{
cursor: pointer;
}
